@font-face {
	font-family: 'bel1';
    src: url(../../../assets/fuentes/AlegreyaSans-Regular.ttf);
}

@font-face {
	font-family: 'bel2';
    src: url(../../../assets/fuentes/Nunito-SemiBold.ttf);
}

@font-face {
	font-family: 'bel1_1';
    src: url(../../../assets/fuentes/JosefinSans.ttf);
}

@font-face {
	font-family: 'bel1_2';
    src: url(../../../assets/fuentes/SourceSansPro-Regular.ttf);
}

@font-face {
	font-family: 'bel1_3';
    src: url(../../../assets/fuentes/CinzelDecorative-Regular.ttf);
}

.contenedor {
    font-family: 'bel1'; 
    margin-bottom: 50px; 
}

.divsuperior {
    text-align: center; 
    background-color: #5641A6; 
    color: #e3d6d6;
    width: 500px;
    height: 135px; 
    margin: 0 auto; 
    display: grid;
    grid-template-columns: 50% 50%;
}

.divsuperior-img {
    background-image: url(../../../assets/imagenes/logo-dento-2.png); 
    background-size: cover; 
}

.celular {
    margin-top: 33px;
}

.celular,
.email {
    font-family: bel1_2;
    font-size: 17px; 
    width: 100%;
    padding: 2px 0;
    /* background-color: #424fdd; */
}

.celular div,
.email div {
    display: inline-block; 
    vertical-align: middle;
} 

.celularimagen,
.mailimagen {
    width:  16px; 
    height: 16px;
    background-size: cover;
    align-items: center; 
    margin-right: 5px;  
}

.celularimagen {
    background-image: url(../../../assets/imagenes/tel.png);
}

.mailimagen {
    background-image: url(../../../assets/imagenes/mail.png);
}
 
.divcentro {
    margin-top: 25px;
    margin-bottom: 20px; 
}

.divcentro-imagenprincipal {
    background-image: url(../../../assets/imagenes/den2.jpg); 
    background-repeat: no-repeat; 
    background-size: contain; 
    width: 500px; 
    height: 280px; 
    margin: 0 auto;  
    border-radius: 15px;
}

.divcentro-texto-1,
.divcentro-texto-2 {
    width: 500px; 
    margin: 0 auto;
    text-align: center;
    font-size: 36px; 
    padding-top: 20px;
    font-family: bel1_1;
    font-weight: bold; 
}

.divcentro-texto-2 {
    font-size: 28px; 
    padding-top: 10px;
    font-family: bel1; 
    font-weight: normal;
    font-style: italic; 
}

.divcentro-botoncita {
    margin-top: 38px;
}

.entrar {
	font-family: 'bel1_1';
    background-color: #2632dd;
    border: 1px solid #2632dd;
	border-radius: 25px 25px 25px 25px;
	text-align: center;
    margin: 0 auto; 
	font-size: 18px;
	width: 200px;
    color: #fff;
	padding: 16px 13px;
    cursor: pointer; 
}

.entrar:hover {
	background:#fff;
    border: 1px solid #2632dd;
    color: #2632dd;
    font-weight: bold;  
}

.divinferior {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 500px; 
    margin: 0 auto;  
}


.divinferior-1 div, 
.divinferior-2 div {
    margin: 0 auto;
    font-family: bel2;
    font-size: 16px; 
} 

.divinferior-1 div, 
.divinferior-2 div { 
    width: 200px;
    height: 40px; 
    margin-top: 7px;
    color: #333;
    border: 1px solid #727272; 
    border-radius: 4px; 
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
}

.foo {
    width: 500px; 
    margin: 0 auto; 
    margin-top: 20px;
    text-align: center;
    padding: 10px 0;  
    background-color: #5641A6;
    color: #fff; 
}

.foo div {
    font-family: bel1_3;
    font-size: 19px;
    line-height: 30px;
}


/******************************************/
@media only screen and (max-width: 505px) {
    .contenedor {
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: auto auto auto auto;
    }

    .divsuperior {
        grid-row: 1;
        width:  100%;
        height: auto; 
        grid-template-columns: none;
        grid-template-rows: auto 100%; 
    }

    .divsuperior-img {
        background-size: contain;
        background-repeat: no-repeat;
        height: 100px;
    }

    .divsuperior-texto {
        padding-bottom: 10px; 
    }
    
    .celular,
    .email {
        padding: 0;
        margin: 0px;
    } 

    .divcentro {
        grid-row: 2; 
        width: 100%; 
    }

    

    .divcentro-imagenprincipal { 
        width: 100%; 
        height: 220px;
        background-size: cover; 
    }

    .divcentro-texto-1,
    .divcentro-texto-2 {
        width: 100%;
        font-size: 27px; 
    }

    .divcentro-texto-2 {
        font-size: 21px; 
    }

    .entrar { 
        grid-row: 2;
        font-size: 16px;
        padding: 14px 11px; 
    }

    .divinferior {
        grid-row: 3;
        grid-template-columns: none;
        grid-template-rows: auto auto; 
        width: 100%; 
    }
    
    .divinferior-1 {
        grid-row: 1;
    }

    .divinferior-2 {
        grid-row: 2;
    }

    .foo {
        width: 100%; 
    }
}
