<div #contenedor class="contenedor">
    <div class="divsuperior">
        <div class="divsuperior-img"></div>
        <div class="divsuperior-texto">
            <div class="celular">
                <div class="celularimagen"></div>
                <div>921 094 483</div>
            </div>
            <div class="email">
                <div class="mailimagen"></div>
                <div>co.remotti@gmail.com</div>
            </div>
        </div>
    </div>

    <div class="divcentro">
        <div class="divcentro-imagenprincipal"></div>
        <div class="divcentro-texto-1">
            Estefany Remotti Salazar
        </div>
        <div class="divcentro-texto-2">
            Cirujano Dentista
        </div>
        <div class="divcentro-botoncita">
            <div #entrar class="entrar">RESERVE SU CITA</div>
        </div>
    </div>

    <div class="divinferior">
        <div class="divinferior-1">
            <div>Coronas</div>
            <div>Curaciones</div>
            <div>Destartaje</div>
            <div>Fluorazión</div>
            <div>Extracciones</div>
        </div>
        <div class="divinferior-2">
            <div>Endodoncia</div>
            <div>Blanqueamientos</div>
            <div>Prótesis Fija</div>
            <div>Prótesis Removibles</div>
            <div>Prótesis Totales</div>
        </div>
    </div>

    <div class="foo">
        <div> conservamos su sonrisa </div>
        copyright©
    </div>
</div>
