<div #contenedor class="contenedor">
    <div class="imgsup">
        <span>Estefany Remotti Salazar</span>
        <br>
        <span>Cirujano Dentista</span>
    </div>

    <div class="imgcen">
        <div class="divimg1"></div>
        <div class="divimgent">
            <div class="divimg2"></div>
            <div class="divbot">
                <div #entrar class="entrar">reserve su CITA</div>
            </div>
        </div>
    </div>
    
    <div class="imginf">
        <div class="imginf1">
            <div>Coronas</div>
            <div>Curaciones</div>
            <div>Destartaje</div>
            <div>Fluorazión</div>
            <div>Extracciones</div>
        </div>
        <div class="imginf2">
            <div>Endodoncia</div>
            <div>Blanqueamientos</div>
            <div>Prótesis Fija</div>
            <div>Prótesis Removibles</div>
            <div>Prótesis Totales</div>
        </div>
    </div>

    <div class="foo">
        <div> 921 094 483</div>
        <div> co.remotti@gmail.com</div>
        <br>
    </div>
    <br>
    <br>
</div>