<div #secCalendario class="secCalendario">
    <div class="divCalendario">
        <table #tablaCal class="tablaCal">
            <tr>
                <td colspan="2">
                    <div #calAnterior class="calAnterior">⇠</div>
                </td>
                <td colspan="3">
                    <div #idmes class="idmes">mes</div>
                </td>
                <td colspan="2">
                    <div #calSiguiente class="calSiguiente">⇢</div>
                </td>
            </tr>
            <tr>
                <td class="classdia">Dom</td>
                <td class="classdia">Lun</td>
                <td class="classdia">Mar</td>
                <td class="classdia">Mie</td>
                <td class="classdia">Jue</td>
                <td class="classdia">Vie</td>
                <td class="classdia">Sab</td>
            </tr>
        </table>
        <table #tablaCalMos class="tablaCalMos">
            <tr class="filasem"><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr class="filasem"><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr class="filasem"><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr class="filasem"><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr class="filasem"><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr class="filasem"><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        </table>
    </div>
</div>
